@charset "UTF-8";

/*IMPORTANDO AS FONTES DA WEEB:*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


/*FAZENDO AS VAREAVEIS DO SITE*/
:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


/*CONFIGURAÇÕES PRINCIPAIS*/
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh; /*Tamanho minimo do bory vai ser 100% da altura da minha viewport*/
    background-color: darkgray;
    font-family: var(--fonte1);
}


/*CONFIGURAÇÕES DO CABEÇALHO*/
header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps; /*Deixa a letra em maiusculo*/
    font-family: var(--fonte2);
    font-size: 10vw; /*10% da viewport width, uma maneira de deixa ro site responsivo*/
}
/*Dica para deixar todas as letras em maiuscula de outra forma:
text-tranform: uppercase;*/

header > p{
    padding-bottom: 50px;
}


/*CONFIGURAÇÃO DOS LINKS*/
header a, footer a {
  color: white;
  text-decoration: none;
  font-weight: bolder;  
}

header a:hover, footer a:hover{
    text-decoration: underline;
}


/*CONFIGURAÇÕES DO CONTEUDO MAIN*/
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(51,51,51);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.404); /*inset = sombra para dentro*/
    background-attachment: fixed; /*Efeito Parallax*/
}

section.imagem > p {
    display: inline-block; /*Cria uma caixa que se adapta com o tamanho do conteudo interno*/
    padding: 5px; /*espaçamento interno*/
    background-color: rgba(0, 0, 0, 0.507);
    text-shadow: 1px 1px 0px black;
} 

section#img01 {
    background-image: url(midias/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(midias/background002.jpg);
    background-size: cover;
}


/*CONFIGURAÇÕES DO RODAPE*/
footer{
    background-color: black;
    color:white;
    text-align: center;
    padding: 10px;
}