@charset "UTF-8";

div.quadrado {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px; 
}

div#q1{
    background-color: skyblue;
}

div#q2{
    background-image: linear-gradient(to bottom, skyblue, blue);
}

div#q3{
    background-image: url('midias/pattern001.png');
