@charset "UTF-8";

/*Configurando a pagina:*/
body{
    background-image: url('midias/wallpaper001.jpg');
    color: black;
}

main{
    background-image: url('midias/Alfinete-realista.png');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #E5E7E6; /*cor de fundo*/
    border-radius: 10px;  /*Arredondar as bordas*/
    box-shadow:5px 5px 15px black; /*adicionar sombras*/
    width: 650px; /*controla a largura de um elemento*/
    padding: 10px; /*controla o espaço entre o conteúdo interno de um elemento e sua borda.*/
    margin: auto /*sua caixa fica automaticamente no meio*/
}

p{
    font-size: 16px;
    font-weight: bolder;
}

h1{
    text-align: center;
}

/*Configurando as divs:*/
div.quadrado {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px; /*Arredondar bordas*/
    width: 212px; /*largura*/
    height: 150px; /*altura*/
}

div#q1{
    background-image: url('midias/pattern003.png');
}

div#q2{
    background-image: linear-gradient(to bottom, skyblue, white);
}

div#q3{
    background-image: url('midias/pattern001.png');
}

div#q4{
    background-image: url('midias/pattern003.png');
    background-repeat: no-repeat; /*Não repetir*/
}

div#q5{
    background-image: url('midias/pattern002.png');
    background-repeat: repeat-x; /*Repetir na horizontal*/
}

div#q6{
    background-image: url('midias/pattern001.png');
    background-repeat: repeat-y; /*Repetir na vertival*/
}
/*Ps: backgroud size edita o tamanho das imagens*/