@charset "UTF-8";

/*Configurações principais da pagina:*/
body{
    background-image: url('midias/wallpaper001.jpg');
    color: black;
}

main{
    background-image: url('midias/Alfinete-realista.png');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #E5E7E6; /*cor de fundo*/
    border-radius: 10px;  /*Arredondar as bordas*/
    box-shadow:5px 5px 15px black; /*adicionar sombras*/
    max-width: 650px; /*controla a largura de um elemento*/ /* O 'MAX' em frente do width deixa quebrar em caso de pequenas telas. */
    padding: 10px; /*controla o espaço entre o conteúdo interno de um elemento e sua borda.*/
    margin: auto /*sua caixa fica automaticamente no meio*/
}

p{
    font-size: 16px;
    font-weight: bolder;
}

h1{
    text-align: center;
}



/*Configurando as classes das divs:*/
div.quadrado {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px; /*Arredondar bordas*/
    width: 212px; /*largura*/
    height: 150px; /*altura*/
} /*Ps: backgroud size edita o tamanho das imagens*/



/*1.1 - BACKGROUND-IMAGE:*/
div#q1{
    background-image: url('midias/pattern003.png');
}

div#q2{
    background-image: linear-gradient(to bottom, skyblue, white);
}

div#q3{
    background-image: url('midias/pattern001.png');
}



/*1.2 - BACKGROUND-REPEAT:*/
div#q4{
    background-image: url('midias/pattern003.png');
    background-repeat: no-repeat; /*Não repetir*/
}

div#q5{
    background-image: url('midias/pattern002.png');
    background-repeat: repeat-x; /*Repetir na horizontal*/
}

div#q6{
    background-image: url('midias/pattern001.png');
    background-repeat: repeat-y; /*Repetir na vertival*/
}



/*1.3 - BACKGROUND-POSITION:*/
div#q7{
    background-image: url('midias/wallpaper007.jpg');
}

div#q8{
    background-image: url('midias/wallpaper007.jpg');
    background-position: center top;    
}

div#q9{
    background-image: url('midias/wallpaper007.jpg');
    background-position: top right;
}

div#q10{
    background-image: url('midias/wallpaper007.jpg');
    background-position: left center;
}

div#q11{
    background-image: url('midias/wallpaper007.jpg');
    background-position: center center;
}

div#q12{
    background-image: url('midias/wallpaper007.jpg');
    background-position: center right; 
}

div#q13{
    background-image: url('midias/wallpaper007.jpg');
    background-position: left bottom;
}

div#q14{
    background-image: url('midias/wallpaper007.jpg');
    background-position: bottom center;
}

div#q15{
    background-image: url('midias/wallpaper007.jpg');
    background-position: bottom right;
}



/*1.4 - Background-size, Background-attachment e Shorthands:*/



/*CAPITULO O2 - CENTRALIZAÇÃO DE CAIXAS:*/

article#container{
    background-color: blueviolet;
    background-image: url('midias/target001.png');
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;

    position: relative;
}

section#conteudo {
    background-color: yellow;
    background-image: url('midias/target001.png');
    background-size: 100% 100%;
    
    position: absolute;
}